.home-page {
    font-family: "Inter", sans-serif;
  }
  
  header {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/img.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .header-content {
    margin-bottom: 280px;
    color: #efefef;
    text-align: center;
  }
  
  .header-content h2 {
    font-size: 4vmin;
  }
  
  .header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .line {
    width: 180px;
    height: 4px;
    background: #efefef;
    margin: 10px auto;
    border-radius: 8px;
  }
  
  @media screen and (max-width: 768px) {
    .header-content {
      margin-bottom: 350px;
    }
  
  }